.about {
  @include structure;

  text-align: left;
  color: $secondary-color;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.01), #2c0057),
    center bottom;
  &-title {
    @include title;
    text-align: center;
  }
  &-title__sec {
    font-size: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 0.25rem;
    margin-left: 10%;
  }
  &-me {
    font-size: 18px;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    img {
      width: 400px;
    }
    p {
      margin-left: 10%;
      line-height: 1.5;
      width: 76%;
    }
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .about {
    padding-top: 150px !important;
    margin: 0;
    &-title {
      text-align: center;
      margin: 0;
    }

    &-title__sec {
      font-size: 2rem;
    }

    &-me {
      display: block;
      gap: 0;
      margin: 0;

      p {
        padding: 5px;
      }
    }
  }
}
