.projects {
  @include structure;

  &-title {
    @include title;
    margin-bottom: 0 !important;
  }
  &-project__desc {
    width: 60%;
    margin: 0 auto;
  }
}

.carousel {
  position: absolute !important;
  top: 13%;
}

.carousel-background {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 300px;
}

.carousel-slide {
  width: 55% !important;
  height: 160px !important;
}

.carousel-background__img {
  position: relative;
  top: 0;
  left: 0;
  height: 350px;
  width: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}
.laptop:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.control-arrow {
  height: 90%;
}
.control-arrow:before {
  border-top: 16px solid transparent !important;
  border-bottom: 16px solid transparent !important;
}

.control-prev.control-arrow:before {
  border-right: 16px solid #fff !important ;
}

.control-next.control-arrow:before {
  border-left: 16px solid #fff !important ;
}

.control-arrow:hover {
  background: none !important;
}

.control-arrow :hover {
  background: transparent !important;
}

@media (min-width: 769px) {
  .carousel {
    width: 500px !important;
  }
}

@media (max-width: 768px) {
  .projects {
    margin: 0 auto;
    &-card__mobile {
      border: none;
      color: $primary-color;
    }
    ul {
      display: default;
      flex-wrap: nowrap;
    }

    &-project__desc {
      text-align: left;
      width: 90%;
      margin: 0 auto;
    }
  }
  .carousel-slide {
    width: 75% !important;
  }
}
