.skills {
  @include structure;
  color: $secondary-color;
  &-title {
    @include title;
    margin-bottom: 4rem;
  }

  &-title__front,
  &-title__back,
  &-title__familiar {
    @include smallTitle;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid $secondary-color;
    }
  }

  &-title__front::after {
    width: 79%;
  }
  &-title__back::after {
    width: 42%;
  }
  &-title__familiar::after {
    width: 22%;
  }

  .front,
  .back {
    list-style: none;
    margin: 20px auto 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5.5rem;
    font-size: 1.5rem;
    padding: 0 !important;
  }
}

.back {
  gap: 8rem !important;
}

@media (max-width: 992px) {
  .front {
    gap: 2rem !important;
  }

  .back {
    gap: 2rem !important;
  }

  .skills {
    &-title__front::after {
      width: 100%;
    }
    &-title__back::after {
      width: 100%;
    }
    &-title__familiar::after {
      width: 40%;
    }
  }
}
