@import "./Header";
@import "./config";
@import "./Home";
@import "./About";
@import "./Skills";
@import "./Card";
@import "./CardItem";
@import "./Projects";
@import "./Contact";
@import "./Footer";

body {
  height: 100vh !important;
  font-family: "Dosis", sans-serif !important;
  color: $secondary-color !important;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

.dark-btn {
  background-color: $primary-color;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border: $primary-color;
  border-radius: 4px;
  color: $secondary-color;
  padding: 10px;
  width: 7%;
  font-weight: bolder;
}

.dark-btn:hover {
  background-color: $secondary-color;
  border: $secondary-color;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: $primary-color;
}

.nav-brand {
  padding-top: 1px !important;
}

@media (max-width: 900px) {
  .dark-btn {
    width: 30%;
  }
}
